:root 
{
    --border: 1px solid var(--abu);
    --padding: 10px;
    --putih: #ffffff;
    --biru: rgb(6, 9, 186);
    --abu: #333333;
}

 /* Navbar start */
 header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #2c2c2c;
    }
    ul {
        list-style-type: none;
      }
    .navbar {
        background: #515151;
        color: #fff;
        height: 60px;
        }
    .navbar a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        }
          
    .navbar a:hover {
        color: #e84393;
        transform: scale(1.2);
        }
   .navbar ul {
        display: flex;
        }
    .navbar ul li {
        margin-left: 20px;
        }     
  .site-header {
    position: relative;
    background-color: #515151; }
  
  @media (min-width: 600px) {
    .nav__wrapper {
      display: flex; } }
  
  @media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #515151;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
  
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; }
  
  .nav__toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
/* Navbar end */

/* item dashboard start */
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #14f3f3;
  }
  .flex-container :hover {
    color: #e84393;
    }
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 100px;
  }
/* item dashboard end */

/* item start */
.grid-container2 {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea myArea myArea';
    gap: 5px;
    margin: 50px 0;
    padding: 80px;
}
.grid-container2> div {
    background-color: #f1f1f1;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
}
.grid-container2 :hover{
    color: #e84393;
}
/* item brand end */

/* item produk start */
.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #14f3f3;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
}
.img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url('../ext/img/11.png');
}
.single-box:nth-child(2) .img-area{
    background-image: url('../ext/img/2.png');
}
.single-box:nth-child(3) .img-area{
    background-image:url('../ext/img/19.png');
}
.single-box:nth-child(4) .img-area{
    background-image: url('../ext/img/4.png');
}
.single-box:nth-child(5) .img-area{
    background-image: url('../ext/img/5.png');
}
.single-box:nth-child(6) .img-area{
    background-image: url('../ext/img/20.png');
}
.single-box:nth-child(7) .img-area{
    background-image: url('../ext/img/7.png');
}
.single-box:nth-child(8) .img-area{
    background-image: url('../ext/img/8.png');
}
.single-box:nth-child(9) .img-area{
    background-image: url('../ext/img/10.png');
}

.header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}
.img-text {
    font-family: Poppins;
    padding-top: 20px;
}
.img-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover {
    background: #e84393;
    color: #fff;
    
}

/* item discount start */
/* Create four equal columns that sits next to each other */
.row {
    display: flex;
    flex: center;
    padding: 0 4px;
  }
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
img{
    height: 300px;
    width: 300px;
    transition: all 1s;
    background-color: #14f3f3;
}

img:hover{
    transform: scale(1.1);
    background: #e84393;       
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
    flex: 50%; 
    max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
    flex: 100%;
    max-width: 100%;
    }
}
 /* item discount end */

 /* item sports start */
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #515151;
    padding: 30px;
  }
  .grid-container :hover{
    color: #e84393;
}
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 1 / 4;
  }
  /* item sports end */

  /* item notification start */
    

/* item notification end */

/* CSS Footer Start */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
}

.wrapper {
    width: 60%;
    padding: 1%;
    margin: auto;
}

.text-center {
    text-align: center;
}
/* CSS Footer End */

table
{
    width: 100%;
    border-collapse: collapse;
}

th,td
{
    height: 40px;
    border: var(--border);
}

th
{
    background: var(--biru);
    color: var(--putih);
    padding: calc(var(--padding)*2);
}

td
{
    background: var(--putih);
    color: var(--abu);
    padding: var(--padding);
}

.area-btn
{
    display: flex;
    justify-content: right;

    justify-items: center;
    margin-bottom: calc(var(--padding));

    align-items: flex-end;
    height: 45px;
  
}
.area-menu
{
    display: flex;
    justify-content: center;

    justify-items: center;
    margin-bottom: calc(var(--padding));
    /* align-items: flex-end;
    height: 300px;
    background: var(--abu); */
}

.btn-primary
{
    background: #c4c4c4;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    padding: var(--padding);
    margin-right: 10px;
    border: var(--border);
    outline: 0;
    cursor: pointer;
}

.btn-secondary
{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    padding: var(--padding);
    margin-right: 10px;
    border: var(--border);
    background: var(--putih);
    cursor: pointer;
}

.area-aksi
{
    width: 100%;
    display: flex;
}

.btn-edit
{
    width: 49%;
    margin-right: 1%;
    border-radius: var(--padding);
    background: #d5cf08dd;
    outline: 0;
    color: var(--putih);
    height: 30px;
    border: var(--border);
    cursor: pointer;
}

.btn-delete
{
    width: 49%;
    margin-left: 1%;
    border-radius: var(--padding);
    background: #03bd00;
    outline: 0;
    color: var(--putih);
    height: 30px;
    border: var(--border);
    cursor: pointer;
}

.item-label1,.item-input1,.item-error1,
.item-label2,.item-input2,.item-error2,
.item-label3,.item-input3,.item-error3,
.item-label4,.item-input4,.item-error4,
.area-grid
{
    display: grid;
    align-items: center;
    padding: var(--padding);
}

.item-label1,.item-label2,.item-label3,.item-label4
{
    justify-items: end;
}

.item-label1
{
    grid-area: label1;
}

.item-input1
{
    grid-area: input1;
}

.item-error1
{
    grid-area: error1;
}

.item-label2
{
    grid-area: label2;
}

.item-input2
{
    grid-area: input2;
}

.item-error2
{
    grid-area: error2;
}

.item-label3
{
    grid-area: label3;
}

.item-input3
{
    grid-area: input3;
}

.item-error3
{
    grid-area: error3;
}

.item-label4
{
    grid-area: label4;
}

.item-input4
{
    grid-area: input4;
}

.item-error4
{
    grid-area: error4;
}

.area-grid
{
    width: 100%;
    grid-template-areas: 
    'label1 input1 input1 error1'
    'label2 input2 input2 error2'
    'label3 input3 input3 error3'
    'label4 input4 input4 error4';
    grid-gap: 10px;
    
}

.text-input,.select-input
{
    border: var(--border);
    padding: var(--padding);
    border-radius: calc(var(--padding)*2);
    outline: 0;
    font-size: 14px;
}

.select-input
{
    background: none;
}

/* pseudo code */

.text-input:focus,.text-input:hover,.select-input:focus,.select-input:hover
{
    border: 1px solid var(--biru);
    box-shadow: 10px 5px 20px var(--biru);
}

.error-info
{
    font-size: 12px;
    color: #f00;
    display: none;
}